@import "@assets/styles/variables.scss";

// *********  font start  ********* //

@import "@assets/styles/variables.scss";

@font-face {
  font-family: $font-family;
  font-weight: $font-weight-thin;
  src: url("@assets/fonts/netflix/NetflixSansThin.ttf");
}

@font-face {
  font-family: $font-family;
  font-weight: $font-weight-light;
  src: url("@assets/fonts/netflix/NetflixSansLight.ttf");
}

@font-face {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  src: url("@assets/fonts/netflix/NetflixSansRegular.ttf");
}

@font-face {
  font-family: $font-family;
  font-weight: $font-weight-medium;
  src: url("@assets/fonts/netflix/NetflixSansMedium.ttf");
}

@font-face {
  font-family: $font-family;
  font-weight: $font-weight-bold;
  src: url("@assets/fonts/netflix/NetflixSansBold.ttf");
}

@font-face {
  font-family: $font-family;
  font-weight: $font-weight-black;
  src: url("@assets/fonts/netflix/NetflixSansBold.ttf");
}

// *********  font end  ********* //
